@{
    ViewData["Title"] = "Our location:";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="text-centro">
    <h2>Our socials:</h2>
</div>

<html>
<body>
   <div class="location">
    <a href="https://goo.gl/maps/6SD8fjaecH8NAFMK8" target="_blank">
            <iframe src="https://www.google.com/maps/embed?pb=ZULdeHMZz64FcJxS6" width="600" height="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </a>
    </div>

    <div class="Insta">
        <a href="https://www.instagram.com/">
            <img src="https://assets.ifttt.com/images/channels/28/icons/monochrome_large.png" width="220" height="220" alt="Example Image">
        </a>
    </div>
    <div class="Twitter">
        <a href="https://twitter.com/">
            <img src="https://o.remove.bg/downloads/e9a4c163-b25e-4ee9-963a-15d7c4749bfc/488-4880349_white-twitter-logo-outline-hd-png-download-removebg-preview.png" width="220" height="220" alt="Example Image">
        </a>
    </div>
</body>
</html>

<style>
.text-center{
    color: #90A955;
    position: fixed;
    left: 28%;
    top: 20%;
    font-family: "payrus", fantasy;
    font-size: 50px;
}

.text-centro{
    color: #90A955;
    position: fixed;
    left: 66.5%;
    top: 20%;
    font-family: "payrus", fantasy;
    font-size: 50px;
}

body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

.location {
    border-radius: 5px;
    border-style: solid;
    border-color: #4F772D;
    position: fixed;
    left: 20%;
    top: 25%;
}

.Insta{
    position: fixed;
    left: 65%;
    top: 25%;
}

.Twitter{
    position: fixed;
    left: 65%;
    top: 47%;
}
</style>