@{
    ViewData["Title"] = "Home Page";
}

<h1>Our cinemas:</h1>
<p1>Our socials:</p1>

<html>
<body>
   <div class="location">
    <a href="https://goo.gl/maps/6SD8fjaecH8NAFMK8" target="_blank">
            <iframe src="https://www.google.com/maps/embed?pb=ZULdeHMZz64FcJxS6" width="600" height="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </a>
    </div>

    <div class="Insta">
        <a href="https://www.instagram.com/">
            <img src="https://assets.ifttt.com/images/channels/28/icons/monochrome_large.png" width="250" height="250" alt="Example Image">
        </a>
    </div>
    <div class="Twitter">
        <a href="https://twitter.com/">
            <img src="https://o.remove.bg/downloads/e9a4c163-b25e-4ee9-963a-15d7c4749bfc/488-4880349_white-twitter-logo-outline-hd-png-download-removebg-preview.png" width="250" height="250" alt="Example Image">
        </a>
    </div>
</body>
</html>

<style>
h1{
    color: #90A955;
    position: fixed;
    left: 27%;
    top: 20%;
    font-family: "payrus", fantasy;
    font-size: 50px;
}
.p1{
    color: #90A955;
    left: 70%;
    top: 20%;
    font-family: "payrus", fantasy;
    font-size: 50px;
}

body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

.text{
    color: white;
}

.location {
    border: 5px solid #4F772D;
    box-sizing: border-box;
    position: fixed;
    left: 20%;
    top: 25%;
}

.Insta{
    position: fixed;
    left: 65%;
    top: 25%;
}

.Twitter{
    position: fixed;
    left: 65%;
    top: 47%;
}

</style>