@{
    ViewData["Title"] = "Home Page";
}

<h1>How can we help you today?</h1>

<form method="post">
    Firstname: <input type="text" name="firstname" />
    Lastname: <input type="text" name="lastname" />
    <input type="submit" value="opslaan" />
</form>

<p>Yo cool name! @ViewData["voornaam"] @ViewData["achternaam"]!</p>