@{
    ViewData["Title"] = "Home Page";
}

<h1>How can we help you today?</h1>

<form method="post">
    Firstname: <input type="text" name="firstname" />
    Lastname: <input type="text" name="lastname" />
    <input type="submit" value="opslaan" />
</form>

<p>Yo cool name! @ViewData["voornaam"] @ViewData["achternaam"]!</p>

<style>
body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: #90A955;
}

h1{
    color: #90A955;
}
</style>
