@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<html>
<head>
    <title>Table Example</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            height: 100%;
            color: #ECF39E;
        }

        th, td {
            border: 5px solid #31572C;
            padding: 8px;
            height: 100px;
            width: 500px;
            font-size: 30px;
            font-family: "payrus", fantasy;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Genre of films</th>
                <th>Films</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kids</td>
                <td><a asp-area="" asp-controller="Home" asp-action="Spiderman"><img class="image image1" src="https://www.comingsoon.net/wp-content/uploads/sites/3/2023/04/spider-man-across-the-spider-verse-poster.png?w=691" width="250" height="375"></a> <a asp-area="" asp-controller="Home" asp-action="Mario"><img class="image image3" src="https://assets-prd.ignimgs.com/2023/02/03/foevbcsayamvqpf-1675462826997.jpg" width="250" height="375"></a></td>
            </tr>
            <tr>
                <td>Action</td>
                <td><a asp-area="" asp-controller="Home" asp-action="Transformers"><img class="image image2" src="https://www.newdvdreleasedates.com/images/posters/large/transformers-rise-of-the-beasts-2023-24.jpg" width="250" height="375"></a> <a asp-area="" asp-controller="Home" asp-action="Guardians"><img class="image image4" src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1676302257/amc-cdn/production/2/movies/62400/62358/PosterDynamic/149048.jpg" width="250" height="375"></a> <a asp-area="" asp-controller="Home" asp-action="Spiderman"><img class="image image1" src="https://www.comingsoon.net/wp-content/uploads/sites/3/2023/04/spider-man-across-the-spider-verse-poster.png?w=691" width="250" height="375"></a> <a asp-area="" asp-controller="Home" asp-action="FastX"><img class="image image5" src="https://sportshub.cbsistatic.com/i/2023/03/14/50ac619e-265c-4ebe-90f1-696d4105b25e/fast-x-poster.jpg?auto=webp&width=3158&height=5000&crop=0.632:1,smart" width="250" height="375"></a></td>
            </tr>
            <tr>
                <td>Comedy</td>
                <td><a asp-area="" asp-controller="Home" asp-action="Guardians"><img class="image image4" src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1676302257/amc-cdn/production/2/movies/62400/62358/PosterDynamic/149048.jpg" width="250" height="375"></a> <a asp-area="" asp-controller="Home" asp-action="Mario"><img class="image image3" src="https://assets-prd.ignimgs.com/2023/02/03/foevbcsayamvqpf-1675462826997.jpg" width="250" height="375"></a> <a asp-area="" asp-controller="Home" asp-action="FastX"><img class="image image5" src="https://sportshub.cbsistatic.com/i/2023/03/14/50ac619e-265c-4ebe-90f1-696d4105b25e/fast-x-poster.jpg?auto=webp&width=3158&height=5000&crop=0.632:1,smart" width="250" height="375"></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

<style>
body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: #90A955;
}

h1{
    color: #90A955;
    font-family: "payrus", fantasy;
    font-size: 50px;
    text-align: center;
}
</style>
