@{
    ViewData["Title"] = "Maxis";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
   
<head>
    <style>
        .container {
            position: relative;
            width: 1160px;
            height: 2000px;
            top: 100px;
            overflow: hidden;          
        }

        .image {
            position: absolute;
            top: 0;
            transition: transform 0.8s ease;
            width: 300px;
            height: 450px;
        }

        .image1 {
            left: 80px;
        }

        .image2 {
            left: 410px;
        }

        .image3 {
            left: 740px;
        }

        .image4 {
            left: -250px;
        }

        .image5 {
            left: 1070px;
        }

        .move-left {
            position: absolute;
            top: 350px;
            left: 1118px;
            background-color: #4F772D;
            font-size: 30px;
            border-radius: 12px;
        }

        .move-aside {
            position: absolute;
            top: 350px;
            left: 0px;
            background-color: #4F772D;
            font-size: 30px;
            border-radius: 12px;
        }

        body{
             background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;
             color: black;
        }
        
        .text-center{
            color: #90A955;
            font-family: "payrus", fantasy;
            font-size: 100px;
        }
        

        .cookie-banner {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #4F772D; 
            padding: 10px;
            text-align: center;
            font-family: "payrus", fantasy;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .cookie-banner p {
            margin: 0;
            font-size: 14px;
        }

        .cookie-banner button {
            background-color: #90A955;
            color: black;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            cursor: pointer;
            font-family: "payrus", fantasy;
        }
    </style>
</head>
<body>
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Spiderman"><img class="image image1" src="https://www.comingsoon.net/wp-content/uploads/sites/3/2023/04/spider-man-across-the-spider-verse-poster.png?w=691" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Transformers"><img class="image image2" src="https://www.newdvdreleasedates.com/images/posters/large/transformers-rise-of-the-beasts-2023-24.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Mario"><img class="image image3" src="https://assets-prd.ignimgs.com/2023/02/03/foevbcsayamvqpf-1675462826997.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Guardians"><img class="image image4" src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1676302257/amc-cdn/production/2/movies/62400/62358/PosterDynamic/149048.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="FastX"><img class="image image5" src="https://sportshub.cbsistatic.com/i/2023/03/14/50ac619e-265c-4ebe-90f1-696d4105b25e/fast-x-poster.jpg?auto=webp&width=3158&height=5000&crop=0.632:1,smart" width="250" height="375"></a>
    </div>

    <button class="move-aside" onclick="moveImagesAside()">←</button>

    <script>
        function moveImagesAside() {
            var image1 = document.querySelector('.image1');
            var image2 = document.querySelector('.image2');
            var image3 = document.querySelector('.image3');
            var image4 = document.querySelector('.image4');
            var image5 = document.querySelector('.image5');

            image1.style.transform = 'translateX(250px)';
            image2.style.transform = 'translateX(250px)';
            image3.style.transform = 'translateX(250px)';
            image4.style.transform = 'translateX(250px)';
            image5.style.transform = 'translateX(250px)';
        }
    </script>

    <button class="move-left" onclick="moveImagesleft()">→</button>

    <script>
        function moveImagesleft() {
            var image1 = document.querySelector('.image1');
            var image2 = document.querySelector('.image2');
            var image3 = document.querySelector('.image3');
            var image4 = document.querySelector('.image4');
            var image5 = document.querySelector('.image5');


            image1.style.transform = 'translateX(-250px)';
            image2.style.transform = 'translateX(-250px)';
            image3.style.transform = 'translateX(-250px)';
            image4.style.transform = 'translateX(-250px)';
            image5.style.transform = 'translateX(-250px)';
        }
    </script>

    <div class="cookie-banner">
        <p>This website uses cookies to ensure you get the best experience on our website.</p>
        <button onclick="acceptCookies()">Accept</button>
    </div>

    <script>
        function acceptCookies() {
            // Set a cookie to remember user preference (e.g., using JavaScript document.cookie)
            // You can customize this function to fit your specific requirements
            document.cookie = "cookieConsent=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/";

            // Hide the cookie consent banner
            document.querySelector('.cookie-banner').style.display = 'none';
        }

        // Check if the user has already accepted cookies
        if (document.cookie.indexOf('cookieConsent=true') === -1) {
            // Display the cookie consent banner if not already accepted
            document.querySelector('.cookie-banner').style.display = 'block';
        }
    </script>
</body>