@{
    ViewData["Title"] = "Maxis";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
   
<head>
    <style>
        .container {
            float: center;
            position: relative;
            width: 1000px;
            height: 500px;
            top: 100px;
            overflow: hidden;
            margin: 1000;
        }

        .image {
            position: absolute;
            top: 0;
            transition: transform 0.8s ease;
        }

        .image1 {
            left: 50px;
        }

        .image2 {
            left: 350px;
        }

        .image3 {
            left: 650px;
        }

        .image4 {
            left: -250px;
        }

        .image5 {
            left: 950px;
        }

        .move-left {
            position: absolute;
            top: 300px;
            left: 950px;
            background-color: #4F772D;
            font-size: 30px;
        }

        .move-aside {
            position: absolute;
            top: 300px;
            left: 0px;
            background-color: #4F772D;
            font-size: 30px;
        }

        body{
             background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;
        }
        
        .text-center{
            color: #90A955;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Spiderman_across_the_spider-verse"><img class="image image1" src="https://www.comingsoon.net/wp-content/uploads/sites/3/2023/04/spider-man-across-the-spider-verse-poster.png?w=691" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Transformers_rise_of_the_beasts"><img class="image image2" src="https://www.newdvdreleasedates.com/images/posters/large/transformers-rise-of-the-beasts-2023-24.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="The_super_mario_bros._movie"><img class="image image3" src="https://assets-prd.ignimgs.com/2023/02/03/foevbcsayamvqpf-1675462826997.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Guardians_of_The_Galaxy"><img class="image image4" src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1676302257/amc-cdn/production/2/movies/62400/62358/PosterDynamic/149048.jpg" width="250" height="375"></a>
        <a asp-area="" asp-controller="Home" asp-action="Fast_X"><img class="image image5" src="https://sportshub.cbsistatic.com/i/2023/03/14/50ac619e-265c-4ebe-90f1-696d4105b25e/fast-x-poster.jpg?auto=webp&width=3158&height=5000&crop=0.632:1,smart" width="250" height="375"></a>
    </div>

    <button class="move-aside" onclick="moveImagesAside()">←</button>

    <script>
        function moveImagesAside() {
            var image1 = document.querySelector('.image1');
            var image2 = document.querySelector('.image2');
            var image3 = document.querySelector('.image3');
            var image4 = document.querySelector('.image4');
            var image5 = document.querySelector('.image5');

            image1.style.transform = 'translateX(250px)';
            image2.style.transform = 'translateX(250px)';
            image3.style.transform = 'translateX(250px)';
            image4.style.transform = 'translateX(250px)';
            image5.style.transform = 'translateX(250px)';
        }
    </script>

    <button class="move-left" onclick="moveImagesleft()">→</button>

    <script>
        function moveImagesleft() {
            var image1 = document.querySelector('.image1');
            var image2 = document.querySelector('.image2');
            var image3 = document.querySelector('.image3');
            var image4 = document.querySelector('.image4');
            var image5 = document.querySelector('.image5');


            image1.style.transform = 'translateX(-250px)';
            image2.style.transform = 'translateX(-250px)';
            image3.style.transform = 'translateX(-250px)';
            image4.style.transform = 'translateX(-250px)';
            image5.style.transform = 'translateX(-250px)';
        }
    </script>
</body>