@{
    ViewData["Title"] = "Home Page";
}

<h1>Our cinemas:</h1>

<html>
<body>
   <div class ="locationimage">
    <a href="https://www.google.com/maps">
            <img src="https://jobstoreblog.s3-accelerate.amazonaws.com/magazine/wp-content/uploads/2020/02/google-map-features-.jpg" width="800" height="500" />
    </a>
    </div>
</body>
</html>

<style>
h1{
    color: #90A955;
    position: fixed;
    left: 45%;
    top: 20%;
    font-family: "payrus", fantasy;
    font-size: 50px;
}

body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

.text{
    color: white;
}

.locationimage {
    border: 5px solid #4F772D;
    position: fixed;
    left: 34%;
    top: 25%;
}

</style>