@{
    ViewData["Title"] = "Home Page";
}

<h1>Our cinemas:</h1>

<html>
<body>
   <div class="location">
    <a href="https://goo.gl/maps/6SD8fjaecH8NAFMK8" target="_blank">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.365144160213!2d3.6254632000000004!3d51.451451999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c49a7108bde359%3A0x6d710920e2c01c84!2sDorpsstraat%2017%2C%204389%20TN%20Ritthem!5e0!3m2!1snl!2snl!4v1686131068914!5m2!1snl!2snl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </a>
    </div>
</body>
</html>

<style>
h1{
    color: #90A955;
    position: fixed;
    left: 45%;
    top: 20%;
    font-family: "payrus", fantasy;
    font-size: 50px;
}

body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

.text{
    color: white;
}

.location {
    border: 5px solid #4F772D;
    position: fixed;
    left: 34%;
    top: 25%;
}

</style>