<h1>The Super Mario Bros. Movie</h1>
<p class="p1">Kids | Comedy | 92 minuten</p>
<p class="p2">
    With help from Princess Peach, Mario gets ready to square off against the all-powerful<br>
    <span>Bowser to stop his plans from conquering the world.</span>
</p>

<html>       
    <body>
        <div class="italians">
            <img src="https://assets-prd.ignimgs.com/2023/02/03/foevbcsayamvqpf-1675462826997.jpg" width="345" height="525">
        </div>
        
        <div class="kijkwijzer4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Kijkwijzer_AL.svg/1200px-Kijkwijzer_AL.svg.png" width="40" height="40">
        </div>

        <a class="button" asp-area="" asp-controller="Home" asp-action="TicketsMario">Buy tickets</a>        
    </body>
</html>

<style>
body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

h1{
    color: #ECF39E;
    position: relative;
    top: 180px;
    left: 965px;
    font-size: 35px;
    font-family:"payrus", fantasy;
}

.p1 {
  color: #90A955;
  position: absolute;
  top: 320px;
  left: 1650px;
  font-size: 22px;
}

.p2 {
  color: white;
  position: absolute;
  top: 360px;
  left: 1600px;
  font-size: 20px;
}

.p2 span {
  display: block;
}

.italians{
    padding: 0;
    position: relative;
    top: 130px;
    left: 610px;
}

.kijkwijzer4{
    position: relative;
    top: -340px;
    left: 965px;
}

.button {
      position: relative;
      top: -267px;
      left: 965px;
      display: inline-block;
      padding: 10px 20px;
      background-color: #90A955;
      color: black;
      text-decoration: none;
      font-size: 16px;
      border: none;
      cursor: pointer;
}

.button:hover{
    background-color: #ECF39E;
    color: black;
}

.video{
  width: 750px;
  height: 525px;
}
</style>


