@{
    ViewData["Title"] = "Home Page";
}

<h1>Spiderman across the spider-verse</h1>

<style>
body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: #90A955;
}

h1{
    color: #90A955;
}
</style>
