<h1>Succes! Thank you for your input or question!</h1>
<p1>We will get back to you as soon as possible</p1>

<style>
body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: #90A955;
}

h1{
    color: #90A955;
    font-family: "payrus", fantasy;
    font-size: 50px;
}

p1{
    color: #90A955;
    font-family: "payrus", fantasy;
    font-size: 50px;
}
</style>