<h1>Spider-man across the spider-verse</h1>
<p class="p1"> Action | 127 minuten</p>
<p class="p2">
    Optimus Prime and the Autobots take on their biggest challenge yet.<br>When a new threat capable of destroying the entire planet emerges,<br>they must team up with a powerful faction of Transformers<br>
    <span> known as the Maximals to save Earth.</span>
</p>

<html>       
    <body>
        <div class="robots">
        <img src="https://www.newdvdreleasedates.com/images/posters/large/transformers-rise-of-the-beasts-2023-24.jpg" width="345" height="525">
        </div>
        
        <div class="kijkwijzer">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Kijkwijzer_12.svg/1024px-Kijkwijzer_12.svg.png" width="40" height="40">
        </div>

        <a class="button" asp-area="" asp-controller="Home" asp-action="TicketsTransformers">Buy tickets</a>   
        
        <div class="trailer">
            <iframe width="1080" height="700" src="https://www.youtube.com/embed/itnqEauWQZM" title="Transformers: Rise of the Beasts | Official Trailer (2023 Movie)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </body>
</html>

<style>
body{
     background-image: url('https://e1.pxfuel.com/desktop-wallpaper/701/676/desktop-wallpaper-theater-seats-black-and-white-%E2%9D%A4-for-theatre.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

h1{
    color: #ECF39E;
    position: relative;
    top: 180px;
    left: 965px;
    font-size: 35px;
    font-family:"payrus", fantasy;
}

.p1 {
  color: #90A955;
  position: absolute;
  top: 320px;
  left: 1650px;
  font-size: 22px;
}

.p2 {
  color: white;
  position: absolute;
  top: 360px;
  left: 1600px;
  font-size: 20px;
}

.p2 span {
  display: block;
}


.robots{
    padding: 0;
    position: relative;
    top: 130px;
    left: 610px;
}

.kijkwijzer{
    position: relative;
    top: -340px;
    left: 965px;
}

.button {
      position: relative;
      top: -213px;
      left: 965px;
      display: inline-block;
      padding: 10px 20px;
      background-color: #90A955;
      color: black;
      text-decoration: none;
      font-size: 16px;
      border: none;
      cursor: pointer;
}

.button:hover{
    background-color: #ECF39E;
    color: black;
}

.trailer{
    position: relative;
    top: -560px;
    left: -570px;
}
</style>


