<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsiteFO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebsiteFO.styles.css" asp-append-version="true" />

<style>
.navbar-nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #4F772D;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "payrus", fantasy;
}

li :hover {
  background-color: #90A955;
  color: black;
}

/* Style the search box inside the navigation bar */
.navbar-loose {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  list-style-type: none;
  font-family: "payrus", fantasy;
  color: black;
}

/*shit met films en dropdown button*/
a[b-xgljg0g3f9] {
    color: black;
}

.dropbtn {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "payrus", fantasy;
}

.films .dropbtn:hover {
  background-color: #90A955;
  color: black;
}

.films-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.films-content a {
  float: none;
  background-color: #31572C;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "payrus", fantasy;
}

.films-content a:hover {
  background-color: #90A955;
}

.films:hover .films-content {
  display: block;
}
</style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 navbar-nav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flexgrow1">
                        <li class="logo">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Maxis</a>
                        </li>

                        <div class="films">
                            <a class="dropbtn">Films<i class="fa fa-caret-down"></i></a>
                            <div class="films-content">
                                <a class="Genres" asp-area="" asp-controller="Home" asp-action="Genres">Genres</a>
                                <a class="Versions" asp-area="" asp-controller="Home" asp-action="Versions">Versions</a>
                                <a class="Movies" asp-area="" asp-controller="Home" asp-action="Movies">Movies</a>
                            </div>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-loose">
                    <li1 class="searchbar1">
                        <input type="text" placeholder="Search..">
                    </li1>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
